.button {
  width: 180px;
  height: 45px;
  border: var(--color-black) solid 2px;
  font: 700 var(--font-size-content) var(--font-primary);
  color: var(--color-black);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: 300ms ease-in-out;
  z-index: 1;

  a {
    color: inherit;
  }

  &::before {
    content: "";
    z-index: -1;
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    bottom: unset;
    height: 0;
    width: 100%;
    opacity: 1;
    transition: 300ms ease-in-out;
  }

  &:hover::before {
    opacity: 1;
    bottom: 0;
    top: unset;
    height: 100%;
  }

  &.primary {
    &::before {
      background: var(--color-black);
    }
    &:hover {
      color: var(--color-white);
    }
  }

  &.secondary {
    border-color: var(--color-white);
    color: var(--color-white);
    
    &::before {
      background: var(--color-white);
    }
    &:hover {
      color: var(--color-black);
    }
  }
}
