
.competitive-edge{

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  min-height: 725px;
  max-width: 100%;
  overflow: hidden;

  .competitive-edge__media{

    width: 100%;
    background-image: url("/src/images/windows.jpeg");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;


    img{
      width: 100%;
      position: absolute;
    }

    div{
      position: absolute;
      top: 50%;
      left: 0;

      p{
        padding: 0 20px;
        color: var(--color-white);
        font-weight: 700;
        text-align: center;
      }
    }
  }

  .competitive-edge__content{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    img{
      width: 32%;
      padding-top: 20px;
    }
  }
}