
footer{
  background-color: var(--color-dark-gray);
  height: 200px;
  margin-top: 80px;


  .footer__flex{
    height: 200px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;

    div{

      p{
        font-size: 0.875rem;
        text-align: center;
        margin: 0;
        padding: 2px 0;
        color: var(--color-white);
      }

      a{
        color: #ADCCE9;
      }
    }
  }
}