
footer{
  background-color: var(--color-black);
  height: 200px;
  margin-top: 65px;
  text-align: center;

  .wrapper{
    height: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;

  }

  .footer__brand{
    
    img{
      transition: opacity 250ms ease-out;
    }

    img:hover{
      opacity: 50%;
    }
  }

  nav{

    ul{
      padding: 50px 0 0 0;
      margin: 0;
      list-style: none;
      display: flex;
      justify-content: center;

      li{
        padding: 7px;

        
        a{
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: var(--color-white);
          width: 30px;
          height: 30px;
          border-radius: 100%;
          transition: all 150ms ease-in;

          &:hover{
            background-color: var(--color-blue);
            transform: scale(1.2);
          }
        }
      }
    }

    ul::before{
      content:"";
      height: 1px;
      width: 100%;
      background-color: var(--color-white);
      position: absolute;
      top: 48%;
    }
  }
}