
.hero{
  color: var(--color-black);
  position: relative;
  overflow: hidden;
  height: 80vh;

  img{
    position: absolute;
    right: 0;
    top: -250px;
    height: 150%;
  }

  span{
    font: 700 var(--font-size-content) var(--font-secondary);
    letter-spacing: 5px;
  }

  .hero__content{
    position: absolute;
    top: 0;
    right: 250px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .wrapper{
    height: 100%;
  }

  .hero__buttons{
    display: flex;
  }

  .button{
    margin: 50px;
  }

  h1{
    padding-top: 20px;
  }

  p.or{
      transform: translateY(45px);
  }

  @media screen and (max-width: 1400px){

    img{
      right: auto;
      left: -400px;
    }
  }

  @media screen and (max-width: 1024px){

    .hero__content {
      left: 50%;
      transform: translateX(-50%);
      width: 100vw;
      background: rgba(255, 255, 255, 0.50);
    }
  }

  @media screen and (max-width: 545px)
  {
    .hero__buttons{
      display: inline-block;
    }

    h1{
      font-size: 3.25rem;
      padding: 35px 0;
    }

    .button{
      margin: 0;
    }

    p.or{
      transform: translate(75px, 0);
    }
  }
}