
.information{

  background-color: #000;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 300px;

  h2{
    color: var(--color-white);
    padding-bottom: 50px;
  }

  .reverse{
    border: 2px var(--color-white) solid;

    p{
      color: var(--color-white);
    }
  }

  .reverse:hover{
    background-color: var(--color-white);

    p{
      color: #000;
    }
  }
}