
.user-reviews{

  text-align: center;
  height: 75vh;

  h2{
    padding: 100px 0 60px 0;
  }

  .user-reviews__flex{
    display: flex;
    justify-content: center;

    div{
      width: 550px;

      img{
        border-radius: 100%;
      }

      p{
        color: var(--color-black);
        margin: 35px 0;
      }

      span{
        font: 800 1.875rem var(--font-secondary);
        text-transform: uppercase;
        color: var(--color-black);
      }
    }
  }

  @media screen and (max-width: 500px){
    height: 85vh;
  }


}